:root {
    display: flex;
    /* margin-left: 25%; */
}

#chessboard {
    width: 50vw;
    height: 98vh;
    border: 2px solid #333;
    position: absolute;
}

/*width/height should be about 1/8 the width/height of the chessboard for both white and black*/
.black {
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: #f9eda7;

    /* This is to center the pieces properly on the board */
    display: flex;
    justify-content: center;
    align-items: center;
}
.white {
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: #b0673a;

    /* This is to center the pieces properly on the board */
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.black-piece{
    width: 75px;
    height: 75px;
    cursor:pointer;
}
 
.white-piece{
    width: 75px;
    height: 75px;
    cursor:pointer;
}
 
/* New pieces */
.P{
    background-image: url(./pieces_data/Chess_plt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.B_p{
    background-image: url(./pieces_data/Chess_pdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.R{
    background-image: url(./pieces_data/Chess_rlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.B_r{
    background-image: url(./pieces_data/Chess_rdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.B{
    background-image: url(./pieces_data/Chess_blt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.B_b{
    background-image: url(./pieces_data/Chess_bdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.N{
    background-image: url(./pieces_data/Chess_nlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.B_n{
    background-image: url(./pieces_data/Chess_ndt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.Q{
    background-image: url(./pieces_data/Chess_qlt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.B_q{
    background-image: url(./pieces_data/Chess_qdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.K{
    background-image: url(./pieces_data/Chess_klt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
 
.B_k{
    background-image: url(./pieces_data/Chess_kdt60.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/*Currently selected piece to move*/
.current{
    /* border: 1px solid #FF8200;
    border-radius: 10%; */
    filter: drop-shadow(0 0 0.75rem rgb(70, 171, 234));
}
.container {
    width: 49.2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cringe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99.5%;
    height: 98.8%;
    position: absolute;
}
.promation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99.5%;
    height: 98.8%;
    position: absolute;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;


    width: 20%;
    height: 35.4%;
    background-color: #6949f9;
    position: absolute;
    z-index: 80;
    border-radius: 4.5%;
}
.menu2 {
    display: flex;
    justify-content: space-around;
    align-items: center;


    width: 20%;
    height: 35.4%;
    background-color: #6949f9;
    position: absolute;
    z-index: 80;
    border-radius: 4.5%;
}
.blackout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 50vw;
    height: 99.5%;
    z-index: 20;
    opacity: 30%;
    left: 24.7vw;
}
.hidden {
    visibility: hidden;
    z-index: -10;
}

.whiteOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.blackOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.queenOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.d_image {
    width: 45%;
    cursor: pointer;
    transition: all 200ms;
}
.d_image:hover {
    width: 50%;
}