:root {
    display: flex;
    margin-left: 25%;
  }

#button{
    display: flex;
    margin: right 5000px;
}

#chessboard {
    width: 50vw;
    height: 98vh;
    border: 2px solid #333;
    position: absolute;
}

/*width/height should be about 1/8 the width/height of the chessboard for both white and black*/
.black {
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: #f9eda7;

    /* This is to center the pieces properly on the board */
    display: flex;
    justify-content: center;
    align-items: center;
}
.white {
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: #b0673a;

    /* This is to center the pieces properly on the board */
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.black-piece{
    width: 50px;
    height: 50px;
    cursor:pointer;
}
 
.white-piece{
    width: 50px;
    height: 50px;
    cursor:pointer;
}
 
/*lowercase is for black pieces and uppercase is for white pieces*/
/*Pawns*/
.P{
    background-image: url(pawn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    padding-top: 53%;
}
 
.B_p{
    /*border-radius: 25px;*/
    background-image: url(B_pawn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    padding-top: 53%;
}
 
/*Rooks/Castles*/
.R{
    background-image: url(rook.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 78%;
    padding-top: 40%;
}
 
.B_r{
    background-image: url(B_rook.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 78%;
    padding-top: 40%;
}
 
/*Bishops*/
.B{
    background-image: url(bis.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 69%;
    padding-top: 36%;
}
 
.B_b{
    background-image: url(B_bis.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 69%;
    padding-top: 36%;
}
 
/*Knights*/
.N{
    background-image: url(n.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 83%;
    padding-top: 44%;
}
 
.B_n{
    background-image: url(B_n.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 83%;
    padding-top: 44%;
}
 
/*Queens*/
.Q{
    background-image: url(queen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    padding-top: 35%;
}
 
.B_q{
    background-image: url(B_queen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57%;
    padding-top: 35%;
}
 
/*Kings*/
.K{
    background-image: url(king.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;
    padding-top: 33%;
}
 
.B_k{
    background-image: url(B_king.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding-top: 33%;
}
 
/*Currently selected piece to move*/
.current{
    /* border: 1px solid #FF8200;
    border-radius: 10%; */
    filter: drop-shadow(0 0 0.75rem rgb(70, 171, 234));
}